# Box developer token (for testing)
BOX_DEVELOPER_TOKEN=

# Box client ID and client secret (for production)
BOX_CLIENT_ID=
BOX_CLIENT_SECRET=

# ID of root folder to sync with
BOX_ROOT_FOLDER_ID=0

# MongoDB Atlas
MONGODB_URI=mongodb+srv://...

# OpenAI
OPENAI_API_KEY=sk-...
